/* estilos css para pagina web */
body{
    background:white ;
    background-image: url(../IMAGENES/imagen\ natacion.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/* estilos css para cabecera ....*/
header {
    background-color: darkgoldenrod;
    border:2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal*/
    justify-content:center;
    align-items: center;
}
header img{
    padding: 15px; ;
}
/* estilos css barra menu */
nav{
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px; ;
}
/*css barra navegar */
nav ul{
    padding:0 0 ;
    margin:0 1px;
}
/*css barra navegar listas*/
nav ul li{
    display: inline ;
    list-style: none;
    margin:0 5px ;
    font:bold 12px verdana ;
}
/*ESTILOS CSS SECCION PRINCIPAL*/
section{
    width: 40%;
    border: 1px salmon;
    padding:10px 10px ;
    border-radius: 20px;
    margin: 10px auto;
    background: linear-gradient(navy, blue);
    
}


