/* estilos css para pagina web */
body{
    background:white ;
    background-image: url(../IMAGENES/imagen\ natacion.jpeg) ;
    background-repeat:repeat;
    background-position: center;
    background-attachment: fixed; /*fixed: imagen no se mueve*/
    background-size:cover;/*contain: enmarcado. cover: cubre toda pagina*/
}
/* estilos css para cabecera ....*/
header {
    background-color:cornflowerblue ;
    border:10px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal*/
    justify-content:center;
    align-items: center;
}
header img{
    padding:5px; ;
}
/* estilos css barra menu */
nav{
    background-color:darkolivegreen;
    border: 10px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
    margin: 5px; ;
}
/*css barra navegar */
nav ul{
    padding: 1px; 0 ;
    margin:0 2px;
}
/*css barra navegar listas*/
nav ul li{
    display:block;
    list-style:armenian;
    margin:0 5px ;
    font:bold 20px verdana ;
}
/*ESTILOS CSS SECCION PRINCIPAL*/
section{
    width: 50%;
    border: 1px red;
    padding:20px 20px ;
    border-radius: 20px;
    margin: 10px auto;
    background: linear-gradient(navy, blue);   
}
form{
    background:sandybrown;
    width:80% ;
    border-radius:20px ;
    margin:10px auto ;
    box-shadow: inset 0 0 10px purple;
    padding: 20px 20px 20px 20px;
}
fieldset{
    border-style: 18px;
}
label{
    font-size: 23px;
}
textarea{
    resize: both;
    max-width: 500px;
}
input:focus, textarea:focus{
    border-color: rgb(red, green, blue);
    cursor:pointer;
    box-shadow: inset 0 0 8px rgb(red, green, blue);
    outline:0 none;

}
form button:hover { /*hover:el usuario interactua con un elementos del dispositivo. el mouse se ubica sobre el elemento*/
    background:lightseagreen;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    size: 10px;
}

form input{
    height: 20px;
    box-sizing: border-box;
    color:black;
    outline: none;
    border:1px solid black;
}

/* ESTILOS CCS PARA PIE DE PAGINA */
footer{
    font-size: 30px;
    text-align: center;
    color:firebrick;
    
}
