body{
    background-color: aqua;
    background-image:url(../IMAGENES/imagen\ sistemas.jpeg) ;/* POR DEFECTO UNA IMAGEN SE REPITE */
    background-position: center;
    background-repeat:repeat;
    background-attachment:fixed ; /*attacment:vinculacion imagen y texto */
    background-size: cover;

}
header{
    background-color: rgb(7, 81, 27);
    display: flex;
    border: 40px brown ;
    border-radius: 20px 30px 50px 20px;
    flex-direction: row;
    /* padding: 30px; */
    justify-content: center;
    align-items: center;
}

header img{
    padding:20px ;
}

nav{
    background-color: rgb(76, 227, 76);
    height: 80px;
    border: blue;
}