body{
    background-color: aqua;
    background-image:url(../IMAGENES/imagen\ sistemas.jpeg) ;/* POR DEFECTO UNA IMAGEN SE REPITE */
    background-position: center;
    background-repeat:repeat;
    background-attachment:fixed ; /*attacment:vinculacion imagen y texto */
    background-size: cover;

}