/* Tipo de fuente de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    margin-left:80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
    font-size: 40px;
}

h3.subt {
    color: #292929;
    letter-spacing: 0.2em;
    text-align: center;
}

h3 {
    letter-spacing: 0.2em;
}

h3,
h4,
h5 {
    color: #c21e1e;
    font-family: 'Oswald', sans-serif;
}

.row2 {
    margin-left: 0px !important;
}

.Blanco {
    background-color: #fff !important;
}

.Blanco2 {
    background-color: #fff !important;
}

.Widget-1,
.Widget-2,
.Widget-3,
.Widget-4,
.Widget-5,
.Widget-6,
.Widget-7,
.Widget-8 {
    background-color: #12203e !important;
    color: #fff;
    border: #fff 8px solid;
    }

img.showText {
    width: 230px;
    height: 250px;
    margin-top: 7px;
}

.content_img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 0px;
}


.content_img div {
    position: absolute;
    top: 12%;
    left: 12%;
    background: black;
    color:white!important;
    padding: 10px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: visibility 0s, opacity 0.3s linear;
}

.content_img span {
    font-weight: bold;
    font-size: 2em;
    padding: .5em;
    position: absolute;
    right: 0%;
    top: 0%;
}

span.rotate:hover {
    transform: rotate(90deg);
}


.content_img:hover {
    cursor: pointer;
    }

.content_img:hover div {
    width: 230px;
    height: 250px;
    background-color: gray !important;
    visibility: visible;
    opacity: 0.9;
    margin-left: -19px !important;
    margin-top: -27px !important;
    transform: scale(1.0);
    }

