/* CUANDO SE DESCARGA TIPO DE LETRA DE LA PAGINA DAFONT
Se descarga la letra (a veces es .zip) 
1. Se deshabilita el link de fuente en HTML (poner en forma de comentarios)
2. en CSS se pone::
@font-face{
    font-family:nombre fuente;
    src:url(../nombre fuente.ttf) ;
}
3. en body en la propiedad: font-family:nombre de la letra
*/
@font-face{
    font-family:Selectric Script;
    src:url(../IMAGENES/Selectric\ Script.ttf) ;
}

body {
    font-family:Selectric Script;
    background-image: url(../IMAGENES/imagen\ de\ fondo.png);
    color: aliceblue;
  }
  
  .navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    
  }
  
  #testimonial {
    background: #722121;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Bungee Spice', cursive;
  }
  
  #contact {
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap;
  }
  